@import url('https://fonts.googleapis.com/css2?family=Nico+Moji&display=swap');

@import "tailwindcss";
@font-face {
  font-family: 'Gemunu Libre';
  src: url('/fonts/GemunuLibre-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.button-font {
  font-family: 'Gemunu Libre', sans-serif;
}


@font-face {
  font-family: 'Nico Moji';
  src: url('/fonts/NicoMoji-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}





:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Nico Moji', cursive;
  }
}
